#Auth
# dependencies
/auth/node_modules
/auth/.pnp
/auth/.pnp.js


# testing
/auth/coverage

# production
/auth/build


#Nats-Test
# dependencies
/nats-test/node_modules
/nats-test/.pnp
/nats-test/.pnp.js


# testing
/nats-test/coverage

# production
/nats-test/build

#Tickets
# dependencies
/tickets/node_modules
/tickets/.pnp
/tickets/.pnp.js


# testing
/tickets/coverage

# production
/tickets/build


#client
# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js


# testing
/client/coverage

# production
/client/build
/client/.next